body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.hamburger-menu {
    position: relative;
    display: block;
    text-align: center;
}

.menu-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    margin-top: 10px;
}

.menu-content form {
    display: block;
}

.menu-content input, .menu-content select, .menu-content button {
    margin-bottom: 10px;
}

#recorder-controls button {
    margin-right: 10px;
}

#recordings-list {
    list-style-type: none;
    padding: 0;
}

#recordings-list li {
    margin-bottom: 10px;
}
